// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background-color:rgb(250,250,250);
}

header{
    background-color:#fff;
    height:80px;
    width:100%;
    border-bottom: 1px solid #ccc;
}

header#title{
    font-size:14pt;
    color:#fff;
    padding:10px;
    font-style:bold;
}

#logo {
   position: absolute;
   top: 0;
   bottom: 0;
   margin: auto;
   padding: 0px 0px 0px 40px;
   width: 269px;
   height: 35px;
}

#logo img{
   margin: 0px;
   padding: 0px;
}

ul#navigation{
    width: 380px;
    padding: 0px;
    //border: 1px solid #00f;
    float: right;
    margin-top:30px;
    margin-right: 20px;
    background-color: #fff;
}

#navigation li{
   display: inline;
   list-style-type: none;
   padding-left: 5px;
}

#navigation li a{
   color: #000;
}

#top_image{
   width: 800px;
   height: 412px;
   margin: 0px auto;
   padding: 0px;
   background-color: rgb(250,250,250);
}

#top_message{
   background-color: rgb(250,250,250);
}

#right-menu{
   height: 80px;
   //border:1px solid #000;
}

#left-menu{
    height: 80px;
}

.photo{
    border-top: 1px solid #999;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
}

.new_photo_button{
    width: 500px;
    padding: 15px;
    margin-bottom: 10px;
}

.contents{
    background-color: rgb(250,250,250);
}

.post{
    margin: 30px 0px 0px 0px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.form-group{
    height: 80%;
}

.photo_content{
    width: 100%;
    height: 150px;
    margin: 20px 0px 20px 0px;
    border:1px solid #999;
}
